{{!-- <ul class="card">
    <li class="card-item">
        <div class="card-img-flag">
            <img src="${flags.png}" alt="${flags.alt}">
        </div>
        <h2 class="card-name">${name}</h2>
    </li>
    <li class="card-item">
        <ul class="card-item-list">
            <li class="list-item">Capital: ${capital}</li>
            <li class="list-item">Population: ${population}</li>
            <li class="list-item">Languages: ${Object.values(languages).join(', ')}</li>
        </ul>
    </li>
</ul> --}}